<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">

	<title>reveal.js – The HTML Presentation Framework</title>

	<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
	<meta name="author" content="Hakim El Hattab">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/reveal.css">
	<link rel="stylesheet" href="/css/theme/black.css" id="theme">
	<link rel="stylesheet" href="/lib/css/monokai.css">
	<!-- Theme used for syntax highlighting of code -->

	<script src="/js/reveal.js"></script>

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ? '/css/print/pdf.css' : '/css/print/paper.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://unpkg.com/konva@4.0.10/konva.min.js"></script>
	<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
</head>

<body>

	<div class="reveal">

		<!-- Any section element inside of this container is displayed as a slide -->
		<div class="slides">

			<%for(let i=0; i<slidesx.length; i++) {%>

			<section>
				<%for(let j=0; j<slidesx[i].elements.length; j++) {%>
				<% if (slidesx[i].elements[j].stage != '') { %>
				<div id="<%= slidesx[i].elements[j].id %>"></div>
				<script>
					var data = '<%-slidesx[i].elements[j].stage%>';
					console.log('data je' + data)


					// create node using json string
					var stage = Konva.Node.create(data, '<%= slidesx[i].elements[j].id %>');
				</script>
				<% } else { %>
				<<%=slidesx[i].elements[j].type %> id="<%= slidesx[i].elements[j].id %>">
					<%= slidesx[i].elements[j].value %> </<%=slidesx[i].elements[j].type %>>

				<% } %>

				<script>
					console.log(id);
					if (id = undefined) {
						var x = '<%= slidesx[i].elements[j].x%>';
						var y = '<%= slidesx[i].elements[j].y%>';
						var id = '<%= slidesx[i].elements[j].id%>';

						// console.log(x);
						// console.log(y);
						console.log(id);

						//$('.reveal').css({position: 'relative'});
						//$('.slides').css({position: 'relative'});
						$('#' + id).parent().css({ position: 'relative' });
						$('#' + id).css({ top: x + 'px', left: y + 'px', position: 'absolute' });


						var elementStyle = document.getElementById(id).style;
					}




					// $('#' + id).css({top: x + 'px', left:  y + 'px', position:'absolute'});

				</script>

				<%}%>	
		</section>
			<%}%>


		</div>

		<!-- <script src="/js/reveal.js"></script> -->
	</div>
	<script>

		// More info https://github.com/hakimel/reveal.js#configuration
		Reveal.initialize({
			controls: true,
			progress: true,
			center: true,
			hash: true,

			transition: 'slide', // none/fade/slide/convex/concave/zoom

			// More info https://github.com/hakimel/reveal.js#dependencies
			dependencies: [
				{ src: '/plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
				{ src: '/plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
				{ src: '/plugin/highlight/highlight.js', async: true },
				{ src: '/plugin/search/search.js', async: true },
				{ src: '/plugin/zoom-js/zoom.js', async: true },
				{ src: '/plugin/notes/notes.js', async: true }
			]
		});

	</script>

</body>

</html>